<form id="commentform" role="form">
    <fieldset>
        <legend>Post comment</legend>

        <label for="commentname">Name</label>
        <input id="commentname" type="text" placeholder="Name" required class="full-width" />

        <label for="commentemail">Email</label>
        <input id="commentemail" type="email" placeholder="Email" required class="full-width" />

        <label for="commenturl">Website</label>
        <input id="commenturl" type="url" placeholder="Website URL" class="full-width" />

        <label for="commentcontent" class="control-label">Comment (no HTML allowed)</label>
        <textarea id="commentcontent" placeholder="Comment" required class="full-width"></textarea>
    </fieldset>
    <div class="form-actions">
        <button>Post comment</button>
        <div id="status" class="hidden alert" role="status" aria-live="polite"></div>
    </div>
</form>